/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 oct. 2014, 09:57:48
    Author     : university
*/
/*
@color_green : #B4AF20;
@color_yellow : #F9A920;
@color_orange : #F87B1E;
@color_red : #E52727;
@color_light : #FEFEFE;
@color_dark : #514547;*/
.font-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.font-normal {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.fontsize-big {
  font-size: 32px;
}
.fontsize-medium {
  font-size: 20px;
}
.fontsize {
  font-size: 12px;
}
.fontsize-small {
  font-size: 10px;
}
.fontsize-mini {
  font-size: 8px;
}
.margins_and_paddings {
  min-height: 400px;
}
.margins_and_paddings > div {
  min-height: 140px;
}
.margins {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
}
.margin-1 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid #27ae60;
}
.margin-2 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid #f1c40f;
}
.margin-3 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid #f39c12;
}
.margin-4 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid #e74c3c;
}
.margin-5 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid #ecf0f1;
}
.margin-6 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid #2c3e50;
}
.margina-1 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  background-color: #27ae60;
}
.margina-2 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  background-color: #f1c40f;
}
.margina-3 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  background-color: #f39c12;
}
.margina-4 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  background-color: #e74c3c;
}
.margina-5 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  background-color: #ecf0f1;
}
.margina-6 {
  margin: 8px;
  padding: 8px;
  float: left;
  min-width: 100px;
  min-height: 100px;
  background-color: #2c3e50;
}
.success {
  color: #27ae60;
}
.warning {
  color: #f39c12;
}
.error {
  color: #e74c3c;
}
.info {
  color: #f1c40f;
}
.neutral {
  color: #2c3e50;
}
.success-alt1 {
  background-color: #27ae60;
}
.warning-alt1 {
  background-color: #f39c12;
}
.error-alt1 {
  background-color: #e74c3c;
}
.info-alt1 {
  background-color: #f1c40f;
}
.neutral-alt1 {
  background-color: #2c3e50;
}
.backgroundcolor_inversion {
  background-color: #2c3e50;
}
.color_inversion {
  color: #ecf0f1;
}
.success-alt2 {
  background-color: #27ae60;
  color: #ecf0f1;
}
.warning-alt2 {
  background-color: #f39c12;
  color: #ecf0f1;
}
.error-alt2 {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.info-alt2 {
  background-color: #f1c40f;
  color: #ecf0f1;
}
.neutral-alt2 {
  background-color: #2c3e50;
  color: #ecf0f1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #ecf0f1;
  color: #2c3e50;
}
