body {
    width: 100%;

    margin: auto;
    background-image: url('../images/bg_white.png');
    /*background-image: url('../images/bg_white_bkup.png');*/
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
textarea {
    resize: none;
}


label {
    width: 100px;
    text-align: right;
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
}
input {
    width: 190px;
    padding: 5px;
    margin: 0;
    background-color: #FEFEFE;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #CCC;
}

#page {
    /*width: 1000px;*/

    margin: auto;
    float: left;
}


#connexion_area {
    width: 700px;

    margin: auto;
    background-color: #FEFEFE;
    border-radius: 2px;

    border:1px #CCCCCC;
}
#connexion_area_large {
    width: 660px;

    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#connexion_area_left {
    width: 310px;

    border-right: 1px solid #CCCCCC;
    margin: 20px -1px 20px 20px;
    padding-right: 20px;
    float: left;
}
#connexion_area_right {
    width: 310px;

    border-left: 1px solid #CCCCCC;
    margin: 20px 20px 20px -1px;
    padding-left: 19px;
    float: right;
}
#connexion_area_right_formulaire {
    width: 100%;
    margin-bottom: 10px;
}
.connexion_area_right_formulaire_ligne {
    width: 100%;
    margin: 5px auto;
}
.connexion_area_right_formulaire_ligne > label {
    width: 100px;
    text-align: right;
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
}
.connexion_area_right_formulaire_ligne > input {
    width: 190px;
    padding: 5px;
    margin: 0;
    background-color: #FEFEFE;
    border-radius: 2px;
    border: 1px solid #CCCCCC;
}


#lateral_left {
    float: left;
    background-color: #FEFEFE;
}
#page_lateral_profil {
    width: 300px;
    float: left;
    background-color: #FEFEFE;
    margin-right: -1px;
    border-right: 1px solid #CCCCCC;
}
#page_lateral_profil_contenu {
    position: relative;
}
#page_lateral_profil_avatar {
    width: 150px;
    height: 150px;

    top: 50px;
    margin: 0 auto 70px;
    border-radius: 150px;
    box-shadow: 0px 0px 2px #CCCCCC;
    background-color: #CCCCCC;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
}
#page_lateral_profil_avatar img {
    width: 150px;
    height: 150px;
    margin: auto;
}
#page_lateral_profil_nom > a {
    width: 100%;

    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #071438;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    position: relative;
}
.page_lateral_profil_sep {
    width: 100%;
    height: 1px;
    position: relative;
    padding: 20px 0 20px;
}
.page_lateral_profil_sep_barre {
    width: 250px;
    height: 1px;
    margin: auto;
    background-color: #CCC;
    position: relative;
}
#page_lateral_liens {
    width: 250px;
    height: 30px;
    margin: auto;
    position: relative;
}
#page_lateral_liens > a {
    width: 50px;
    height: 30px;
    text-align: center;
    color: #AAA;
    float:left;
}
#page_lateral_liens > a:hover {
    color: #CCC;
}
#page_lateral_liens > a > i {
    width: 100%;
}
#page_lateral_liens > a > i.fa-power-off {
    color: #071438;
}
#page_lateral_liens > a > i.fa-power-off:hover {
    color: #4b556e;
}
.bille_notification {
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: #071438;
    color: #FEFEFE;
    font-size: 10px;
    display: inline-block;
    position: relative;
    border-radius: 18px;
    font-family: 'Open Sans', sans-serif;
    top: -15px;
    left: 5px;
    text-align:center;
}

#page_contenu {
    width: 700px;
    float: left;
}
.page_contenu_sep {
    width: 660px;
    height: 1px;
    margin: 20px auto;
    background-color: #CCC;
}
.actualite {
    width: 100%;
    margin: 40px auto;
}
.actualite_avatar_area {
    width: 130px;
    float: left;
}
.actualite_avatar_area > .actualite_avatar {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 2px #AAA;
    overflow: hidden;
}
.actualite_avatar_area > .actualite_avatar img {
    width: 50px;
    height: 50px;
    margin: auto;
}
.actualite_avatar_area > .actualite_nom > a {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    color: #071438;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}
.actualite_bloc {
    width: 530px;
    float: left;
}
.actualite_area {
    z-index: 200;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
    position: relative;
}
.actualite_area_text {
    margin: 0 20px;
    color: #333;
    font-size: 12px;
    text-align: justify;
}
.actualite_buttons {
    z-index: 150;
    width: 100%;
    height: 35px;
    background-color: #071438;
    position: relative;
    margin-top: -5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 2px #AAA;
}
.actualite_buttons_area {
    float: left;
    padding-top: 5px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #7a0414;
    font-size: 13px;
}
.actualite_buttons_area > a {
    margin: 0 10px;
    color: #7a0414;
    text-decoration: none;
}
.actualite_buttons_area > a:hover {
    color: #E8E8E8;
}
.actualite_buttons > .actualite_date {
    float: right;
    padding-top: 5px;
    margin-right: 20px;
    color: #7a0414;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}
.actualite_buttons_area > .page_lateral_icon_actif {
    color: #FEFEFE;
}

.quoi_de_neuf_bloc {
    width: 530px;
    float: left;
}
textarea.actualite_area_text {
    width: 510px;
    min-height: 50px;
    margin: auto;
    border: 0;
    padding: 10px;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
}
.actualite_btn {
    margin-top: 10px;
    margin-bottom: -20px;
}



#profil_top {
    width: 100%;
    margin: 40px auto;
}
#profil_top_avatar {
    width: 200px;
    height: 200px;

    margin: 50px auto 20px;
    border-radius: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 2px #AAA;
    background-size: cover;
    background-position: center;
}
#profil_top_avatar > a > img {
    width: 200px;
    height: 200px;
    display: block;
    border: 0;
    padding: 0;
    margin: 0 auto;
}
#profil_top_avatar_changeBG {
    width: 200px;
    height: 200px;
    background-color: rgba(15,15,15,0.7);
    display: none;
}
#profil_top_avatar_changeTxt {
    color: #FEFEFE;
    font-size: 13px;
    text-align: center;
    position: relative;
    top: -50px;
    display: none;
    width: 100%;
}
#profil_top_avatar:hover #profil_top_avatar_changeBG ,
#profil_top_avatar:hover #profil_top_avatar_changeTxt {
    display: inline-block;
}
#profil_top_avatar_nom {
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #071438;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    cursor: default;
}
.profil_bloc {
    width: 510px;
    margin: auto;
    padding: 10px 20px;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
}
.profil_bloc_contenu {
    width: 100%;
    color: #333;
    font-size: 14px;
}
.profil_bloc_contenu ul {
    color: #071438;
}
.liste_contenu {
    color: #333;
}
#profil_buttons > a {

}


.notification {
    width: 100%;
    margin: 20px auto;
}
.notification_avatar_area {
    width: 130px;
    float: left;
}
.notification_avatar_area > .notification_avatar {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 2px #AAA;
    background-color: #AAA;
    overflow: hidden;
}
.notification_avatar_area > .notification_avatar img {
    width: 50px;
    height: 50px;
    margin: auto;
}
.notification_bloc {
    width: 530px;
    height: 50px;
    float: left;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
    overflow: hidden;
}
.notification_bloc.notification_bloc_new {
    background-color: #071438;
}
.notification_bloc_texte {
    margin-left: 20px;
    line-height: 50px;
    font-size: 11px;
    color: #333;
}
.notification_bloc.notification_bloc_new .notification_bloc_texte {
    color: #FEFEFE;
}
.notification_bloc_texte a {
    color: #071438;
    text-decoration: none;
    font-weight: 600;
}
.notification_bloc_texte a:hover {
    color: #4b556e;
}
.notification_bloc.notification_bloc_new .notification_bloc_texte a,
.notification_bloc.notification_bloc_new .notification_bloc_texte a:hover {
    color: #FEFEFE;
}
.notification_icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    float: right;
    color: #071438;
    text-align: center;
    display: inline-block;
}
.notification_bloc.notification_bloc_new .notification_icon {
    color: #FEFEFE;
}



.friend_line {
    width: 100%;
    margin: 20px auto;
}
.friend_line_avatar_area {
    width: 130px;
    float: left;
}
.friend_line_avatar_area > .friend_line_avatar {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 2px #AAA;
    background-color: #AAA;
    overflow: hidden;
}
.friend_line_avatar_area > .friend_line_avatar img {
    width: 50px;
    height: 50px;
    margin: auto;
}
.friend_line_name_area {
    width: 530px;
    height: 50px;
    float: left;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
    overflow: hidden;
}
.friend_line_name {
    margin-left: 20px;
    line-height: 50px;
    font-size: 11px;
    color: #333;
}
.friend_line_name a {
    color: #071438;
    text-decoration: none;
    font-weight: 600;
}
.friend_line_name a:hover {
    color: #4b556e;
}
.friend_line_name_icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    float: right;
    color: #071438;
    text-align: center;
    display: inline-block;
}



.messagerie {
    width: 100%;
    margin: 20px auto;
}
.messagerie_avatar_area {
    width: 130px;
    float: left;
}
.messagerie_avatar_area > .messagerie_avatar {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 2px #AAA;
    overflow: hidden;
}
.messagerie_avatar_area > .messagerie_avatar_empty {
    box-shadow: none;
}
.messagerie_avatar_area > .messagerie_avatar img {
    width: 50px;
    height: 50px;
    margin: auto;
}
.messagerie_avatar_area > .messagerie_nom > a {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    color: #071438;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}
.messagerie_bloc {
    width: 530px;
    height: 100px;
    float: left;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}
.messagerie_bloc_message {
    width: 530px;
    min-height: 50px;
    padding-bottom: 10px;
    float: left;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
    overflow: hidden;
    display: block;
}
.messagerie_bloc_message_decalageG {
    margin-left: 40px;
}
.messagerie_bloc.messagerie_bloc_new,
.messagerie_bloc_message.messagerie_bloc_new {
    background-color: #071438;
}
.messagerie_bloc_informations {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    color: #333;
}
.messagerie_bloc_informations a {
    text-decoration: none;
    color: #071438;
    font-size: 12px;
    font-weight: 600;
}
.messagerie_bloc_informations_date {
    float: right;
}
.messagerie_bloc_message_date {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #333;
}
.messagerie_bloc_texte {
    float: left;
    width: 460px;
    height: 70px;
    line-height: 70px;
    margin-left: 20px;
    font-size: 11px;
    color: #333;
}
.messagerie_bloc_texte_inside {
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    text-align: justify;
    color: #333;
}
.messagerie_bloc_texte_large {
    width: 490px;
    margin-left: 20px;
    font-size: 11px;
    color: #333;
    text-align: justify;
}
.messagerie_bloc.messagerie_bloc_new .messagerie_bloc_texte {
    color: #FEFEFE;
}
.messagerie_bloc_texte_large_sep {
    width: 450px;
    height: 1px;
    background-color: #CCC;
    margin: 10px auto;
}
.messagerie_bloc_texte a {
    color: #071438;
    text-decoration: none;
    font-weight: 600;
}
.messagerie_bloc_texte a:hover {
    color: #4b556e;
}
.messagerie_bloc.messagerie_bloc_new .messagerie_bloc_texte a,
.messagerie_bloc.messagerie_bloc_new .messagerie_bloc_texte a:hover {
    color: #FEFEFE;
}
.messagerie_bloc_icone {
    float: right;
    width: 50px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    color: #071438;
}
.messagerie_bloc.messagerie_bloc_new > .messagerie_bloc_informations a,
.messagerie_bloc.messagerie_bloc_new > .messagerie_bloc_informations,
.messagerie_bloc.messagerie_bloc_new > .messagerie_bloc_texte > .messagerie_bloc_texte_inside,
.messagerie_bloc.messagerie_bloc_new > .messagerie_bloc_icone,
.messagerie_bloc_message.messagerie_bloc_new > .messagerie_bloc_message_date,
.messagerie_bloc_message.messagerie_bloc_new > .messagerie_bloc_texte_large {
    color: #FEFEFE;
}
.messagerie_bloc_message.messagerie_bloc_new > .messagerie_bloc_texte_large_sep {
    background-color: #FEFEFE;
}


.rechercher_input {
    float: right;
    font-size: 12px;
    margin-right: 40px;
    height: 35px;
    line-height: 35px;
}
.rechercher_input_inside {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}
.rechercher_input_inside input {
    width: 350px;
    height: 25px;
    margin: auto;
    padding: 2px;
    background-color: #FEFEFE;
    border: 1px solid #CCC;
    border-right: 0;
    display: block;
    float:left;
}
a.rechercher_input_loupe {
    width: 20px;
    height: 25px;
    margin: auto;
    padding: 2px;
    line-height: 25px;
    color: #071438;
    text-decoration: none;
    background-color: #FEFEFE;
    border: 1px solid #CCC;
    border-left: 0;
    display: block;
    float:left;
}
.rechercher_message_no_entry {
    width: 100%;
    font-size: 12px;
    color: #333;
    text-align: center;
}

.titre {
    font-size: 24px;
    font-weight: 600;
    color: #071438;
    margin-bottom: 10px;
}
.titre_page {
    margin-left: 50px;
    margin-top: 50px;
}
.sous_titre_page {
    margin: 20px 50px;
    font-size: 18px;
    color: #333;
}
.sous_titre_page i {
    color: #071438;
}
.sous_titre_page_margeTop {
    margin-top: 50px;
}
.contenu {
    width: 100%;
    font-weight: normal;
    color: #333;
    font-size: 12px;
    text-align: justify;
}
.clear {
    clear: both;
}


input[type=button],
input[type=submit],
input[type=reset],
a.btn {
    width: auto;
    float: right;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 13px;

    background-color: #071438;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    color: #E8E8E8;
    position: relative;
    right: 0;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
a.btn:hover {
    background-color: #4b556e;
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
a.btn:active {
    background-color: #4b556e;
    box-shadow: inset 0 0 6px #111;
    -moz-box-shadow: inset 0 0 6px #111;
    -webkit-box-shadow: inset 0 0 6px #111;
    -o-box-shadow: inset 0 0 6px #111;
}
[type=file] {
    width: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}


#bloc_central {
    width: 700px;

    margin: auto;
    background-color: #FEFEFE;
    border-radius: 2px;

    border:1px #CCCCCC;
}
#bloc_central_inside {
    width: 660px;

    margin: auto;
    padding: 20px;
}


table.tableau {
    width: 100%;
    border-collapse: collapse;
    margin-left: 1px;
}
table.tableau th {
    color: #071438;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    text-align: left;
}
table.tableau td {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}
table.tableau tr.values {
    border: 1px solid #CCC;
}
table.tableau tr.variant1 {
    background-color: rgba(254,254,254,0.8);
}
table.tableau tr.variant2 {
    background-color: rgba(254,254,254,0.6);
}
td a {
    color: #333;
    text-decoration: none;
    font-weight: 800;
}
td a:hover {
    text-decoration: underline;
}


.bandeau_info {
    width: 660px;
    margin: 20px auto;
    background-color: #4b556e;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #CCCCCC;
    overflow: hidden;
}
.bandeau_info_inside {
    width: 620px;
    margin: 5px 20px;
    color: #FEFEFE;
    font-size: 12px;
    display: inline-block;
}
.bandeau_info_inside_td {
    vertical-align: middle;
}
.bandeau_info_inside i {
    padding-right: 20px;
}
.bandeau_info_inside a {
    color: #CCCCCC;
    text-decoration: none;
    font-weight: 600;
}
a.bandeau_info_close {
    float: right;
    color: #071438;
    padding: 0;
    text-decoration: none;
}
a.bandeau_info_close i {
    padding: 0;
}



textarea.actualite_area_text {
    width: 510px;
    min-height: 50px;
    margin: auto;
    border: 0 none;
    padding: 10px;
    background-color: #FEFEFE;
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
}
label.label_input_checkbox_radio {
    float: left;
}





.FormElementCheckboxRadio>[type="checkbox"]:not(:checked),
.FormElementCheckboxRadio>[type="checkbox"]:checked,
.FormElementCheckboxRadio>[type="radio"]:not(:checked),
.FormElementCheckboxRadio>[type="radio"]:checked
{
    position: absolute;
    left: -9999px;
}
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label,
.FormElementCheckboxRadio>[type="checkbox"]:checked + label,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label,
.FormElementCheckboxRadio>[type="radio"]:checked + label
{
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    text-align: left;
    width: auto;
}
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label > .label,
.FormElementCheckboxRadio>[type="checkbox"]:checked + label > .label,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label > .label,
.FormElementCheckboxRadio>[type="radio"]:checked + label > .label
{
    position: relative;
    top: -1px;
    cursor: pointer;
}
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label:before,
.FormElementCheckboxRadio>[type="checkbox"]:checked + label:before,
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label:after,
.FormElementCheckboxRadio>[type="checkbox"]:checked + label:after,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label:before,
.FormElementCheckboxRadio>[type="radio"]:checked + label:before,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label:after,
.FormElementCheckboxRadio>[type="radio"]:checked + label:after
{
    content: '';
    position: absolute;
}
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label:before,
.FormElementCheckboxRadio>[type="checkbox"]:checked + label:before,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label:before,
.FormElementCheckboxRadio>[type="radio"]:checked + label:before
{
    left:0; top: -4px;
    width: 40px; height: 20px;
    background-color: rgba(30,30,30,0.2);
    border: 1px solid #CCCCCC;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
}
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label:after,
.FormElementCheckboxRadio>[type="checkbox"]:checked + label:after,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label:after,
.FormElementCheckboxRadio>[type="radio"]:checked + label:after
{
    width: 14px; height: 20px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    top: -4px;
    left: 0;
}

/* on checked */
.FormElementCheckboxRadio>[type="checkbox"]:checked + label:before,
.FormElementCheckboxRadio>[type="radio"]:checked + label:before
{
    background-color: #FFFFFF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
}
.FormElementCheckboxRadio>[type="checkbox"]:checked + label:after,
.FormElementCheckboxRadio>[type="radio"]:checked + label:after
{
    top: -4px; left: 26px;
}

.FormElementCheckboxRadio>[type="checkbox"]:checked + label .ui,
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label .ui:before,
.FormElementCheckboxRadio>[type="checkbox"]:checked + label .ui:after,
.FormElementCheckboxRadio>[type="radio"]:checked + label .ui,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label .ui:before,
.FormElementCheckboxRadio>[type="radio"]:checked + label .ui:after
{
    position: absolute;
    left: 6px;
    height: 16px;
    width: 14px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-align: center;
    margin-top: -1px;
}
.FormElementCheckboxRadio>[type="checkbox"]:not(:checked) + label .ui:before,
.FormElementCheckboxRadio>[type="radio"]:not(:checked) + label .ui:before
{
    content: "O";
    left: 22px;
    color: rgba(30,30,30,0.6);
    font-weight: 700;
}
.FormElementCheckboxRadio>[type="checkbox"]:checked + label .ui:after,
.FormElementCheckboxRadio>[type="radio"]:checked + label .ui:after
{
    content: "I";
    left: 1px;
    margin-top: 0;
    color: rgba(30,30,30,0.6);
    font-weight: 700;
}
.FormElementCheckboxRadio>[type="checkbox"]:focus + label:before,
.FormElementCheckboxRadio>[type="radio"]:focus + label:before
{  }
.FormElementCheckboxRadio>[type="checkbox"]:disabled:not(:checked) + label:before,
.FormElementCheckboxRadio>[type="checkbox"]:disabled:checked + label:before,
.FormElementCheckboxRadio>[type="radio"]:disabled:not(:checked) + label:before,
.FormElementCheckboxRadio>[type="radio"]:disabled:checked + label:before
{
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
/* styles de la coche (si cochée/désactivée) */
.FormElementCheckboxRadio>[type="checkbox"]:disabled:checked + label .ui:after,
.FormElementCheckboxRadio>[type="radio"]:disabled:checked + label .ui:after
{
    color: #aaa;
}
/* on style aussi le label quand désactivé */
.FormElementCheckboxRadio>[type="checkbox"]:disabled + label .label,
.FormElementCheckboxRadio>[type="checkbox"]:disabled + label .ui:before,
.FormElementCheckboxRadio>[type="radio"]:disabled + label .label,
.FormElementCheckboxRadio>[type="radio"]:disabled + label .ui:before
{
    color: #aaa;
}



.link_disabled
{
    color: #CCC;
}




.page_lateral_widget {
    width: 250px;
    margin: auto;
}
.page_lateral_widget > .widget_titre {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #202C4C;
}
.page_lateral_widget > ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}
.page_lateral_widget > ul > li {
    display: inline-block;
}
.page_lateral_widget > ul > li > a {
    width: 230px;
    display: block;
    color: #202C4C;
    text-decoration: none;
    padding: 5px 10px;
    margin: auto auto 5px;
    font-size: 13px;
    font-weight: 600;
}
.page_lateral_widget > ul > li > a:hover {
    background-color: #4b556e;
    color: #FEFEFE;
}
.page_lateral_widget_sep {
    width: 250px;
    height: 1px;
    margin: 20px auto;
    background-color: #CCC;
}

#profil_buttons {
    width: 510px;
    margin: auto;
    padding: 10px 20px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 2px #AAA;
    border-radius: 2px;
}